html { 
    background: url('../img/bg-01.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    /* margin-top: 60px; */
  }

.network-form__wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.network-form{
    background: #fff;
    width: 70%;
    padding: 20px;
}

.md-list-item-text.hardware-item__wrapper{
    flex-direction: row;
}

.hardware-item__info{
    display: flex;
    flex-direction: column;
}

.hardware{
    display: flex;
}
.hardware__list{
    width: 60%;
}

.hardware__tabs{
    width: 40%;
}

.harware__total{
    font-weight: bold;
    color: #ed0cfe;
}


.harware__cost{
    font-weight: bold;
    color: #ed0cfe;
}